page-login {

	#io-login {
		background: url('../../assets/imgs/loginbackground.jpg') no-repeat center center;
		background-size: cover;
		position: relative;
	}
	.item {
		background: transparent;
		color: #fff;
		font-weight: 300;
	    padding: 7px 0 7px 16px;
	}
	.item .item-inner {
		border-bottom: 1px solid rgba(255,255,255,0.1) !important;
	    margin-right: 16px;
	}
	.item.item-input-has-focus .item-inner {
		border-bottom-color: #36d4bc !important;
		-webkit-box-shadow: inset 0 -1px 0 0 #36d4bc !important;
		box-shadow: inset 0 -1px 0 0 #36d4bc !important;
	}
	.label {
		color: #fff !important;
		font-weight: 300;
		font-size: 14px;
    	line-height: 20px;
	}
	.label ion-img {
	    background: transparent;
	    float: left;
	    margin-right: 8px;
	}
	#io-login-button {
		background-color: #36d4bc !important;
		height: 5.6rem;
	    font-size: 1.6rem;
	    font-weight: 400;
	    text-transform: capitalize;
	    color: #fff;
	    box-shadow: none !important;
        margin-top: 18vh;
	}
	.list .item.item-input:last-child .item-inner {
	    border-bottom: 1px solid rgba(255,255,255,0.1) !important;
	}
	.list .item.item-input-has-focus:last-child,
	.list .item:last-child  {
		border-bottom: 0 !important;
		box-shadow:none !important;
	}
	.list.io-inputs {

	}
	.io-login-logo {
        width: 116px;
	    height: 116px;
	    margin: 14vh auto;
	    background: transparent !important;
	    display: block;
	}
	.forgotpass {
		color: rgba(255,255,255,.5);
	    font-size: 0.9em;
	    font-weight: 300;
	    float: right;
	    margin-top: 10px;
	    padding-right: 20px;
	}
	.io-signup {
	    display: block;
	    width: 100%;
	    text-align: center;
	    color: rgba(255,255,255,.5);
	    font-size: 0.9em;
	    padding: 3vh 0;
	}
	.io-signup .io-signup-link {
	    color: #fff;
	    font-weight: 400;
	    margin-left: 5px;
	}

	.list-ios > .item-block:first-child {
	    border-top: 0;
	}

	
}
